<div class="container-fluid">
    <h2 class="text-light stylish">Welcome</h2>
    <div style="width:40%">
        <p class="text-light">
            In many religion and spiritual belief it is said that music is the sacred most connection between the soul and the God. People can realize his or her soul, can talk with the inner enigma by the music. It is a music management tool, which helps you to manage MP3 files. It helps you to manage  the meta data of a mp3 file in a proper way.
        </p>
    </div>
    
</div>

